:root {
    --gauge-good-color: #55ff10;
    --gauge-ok-color: #bbff33;
    --gauge-regular-color: #ffbb33;
    --gauge-bad-color: #ff3333;
}

.gaugeScaleGood {
    fill: var(--gauge-good-color);
}

.gaugeScaleOk {
    fill: var(--gauge-ok-color);
}

.gaugeScaleRegular {
    fill: var(--gauge-regular-color);
}

.gaugeScaleWarn {
    fill: var(--gauge-bad-color);
}

.gaugeGood {
    stroke: none;
    fill: var(--gauge-good-color);
}

.gaugeOk {
    stroke: none;
    fill: var(--gauge-ok-color);
}

.gaugeRegular {
    stroke: none;
    fill: var(--gauge-regular-color);
}

.gaugeBad {
    stroke: none;
    fill: var(--gauge-bad-color);
}

.gaugeOverflow {
    stroke: black;
    fill: var(--gauge-bad-color);
}

.scaleBorder {
    fill: none;
    stroke: black;
    stroke-width: 1px;
}

.gaugeText {
    fill: black;
}
