:root {
    --background-color: #f8f8f8;

    --tab-bar-height: 4rem;
    --period-title-height: 60px;

    --z-index-navigation: 1000;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);

    margin: 0;
}

.navigation {
    z-index: var(--z-index-navigation);
    position: fixed;
    width: 100%;
    top: 0;
}

.pages {
    margin-top: calc(var(--tab-bar-height) + var(--period-title-height));
}

.page {
    display: flex;
    flex-direction: column;
}

.tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    flex-grow: 0;
}

.tab {
    display: flex;
    flex-grow: 1;

    margin-top: 2px;
    border-top: 1px solid black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    line-height: var(--tab-bar-height);
    justify-content: center;
    border-bottom: 1px solid black;
    background-color: #ddd;

    user-select: none;
}

.tab:not(.active) {
    cursor: pointer;
}

.tab.active {
    background-color: var(--background-color);
    border-bottom: 0;
    cursor: default;
}

.tab:not(:first-of-type) {
    border-left: 1px solid black;
}

.page {
    display: none;
}

.page.visible {
    display: block;
}

.row {
    display: flex;

    flex-direction: row;

    justify-content: center;
    flex-wrap: wrap;
}

#tooltip {
    display: none;
    position: absolute;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 300px;

    background-color: white;
    border: 1px solid #cccccc;
    padding: 20px;
    border-radius: 3px;
}

#tooltip .tableValue {
    text-align: right;
}
.usageAndGenerationTooltip .title {
    font-style: italic;
}
.usageAndGenerationTooltip .category {
    padding: 3px 10px;
}

.lineChartBrush {
    width: 100%;
    border-collapse: collapse;
}

.lineChartBrush th,
.lineChartBrush td {
    padding: 5px;
}

.lineChartBrush caption {
    font-weight: bold;
    text-align: center;
}

.spinner {
    width: 100%;
    height: 100%;

    background-color: #f0f;
}

.spinner-icon {
    transform-origin: center;

    color: #bbb;
    width: 100px;
    height: 100px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

.spinner-icon {
    animation: spin 2s linear infinite;
}

.axis {
    color: black;
    stroke: black;
    stroke-width: 1;
}

.axis text {
    fill: black;

    stroke: none;
}

.tooltipLine {
    stroke: #333;
    stroke-width: 1;
}

.dark .tooltipLine {
    stroke: white;
}

.valueLinesTooltip {
    width: 250px;
    display: grid;
    grid-template-columns: 20px auto 3fr;
    align-items: center;
}
